[package]
name = "ewe_html"
version = "0.0.1"
description = "ewe_html crate for web and non-web based html generation"
edition.workspace = true
rust-version.workspace = true
license.workspace = true
authors.workspace = true
repository.workspace = true
keywords.workspace = true

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
foundation_core.workspace = true
ewe_trace.workspace = true

regex = { version = "1.10" }
lazy-regex = { version = "3.1" }
phf = { version = "0.11.2", features = ["macros"] }
strum = { version = "0.26" }
strum_macros = { version = "0.26" }
lazy_static = { version = "1.4.0" }
lazycell = { version = "1.3.0" }
tracing = { version = "0.1.40" }
tracing-subscriber = { version = "0.3.18" }
anyhow = { version = "1.0.80" }
thiserror = { version = "2.0.17" }


[dev-dependencies]
tracing-test = { version = "0.2.5" }
criterion = { version = "0.8", features = ["html_reports"] }

[lints]
workspace = true

[features]
debug_trace = ["ewe_trace/debug_trace"]

[[bench]]
name = "cwikipedia"
harness = false
