[package]
name = "ewe_templates_macro"
version = "0.0.1"
description = "Macros for the ewe_template package to easily create tinytemplate or minijinja template"
authors.workspace = true
edition.workspace = true
repository.workspace = true
license.workspace = true
rust-version.workspace = true
keywords.workspace = true

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
[lib]
proc-macro = true

[dependencies]
ewe_templates = { workspace = true }

quote = "1.0.20"
proc-macro2 = "1.0.40"
syn = { version = "2.0.113", features = ["full"] }

# template dependencies
serde = { version = "1.0.197", features = ["derive"] }
serde_json = { version = "1.0.114" }
serde_with = { version = "3.6.1" }

[dev-dependencies]
trybuild = "1.0.83"

[lints]
workspace = true
