[package]
name = "infrastructure_llama_cpp"
description = "llama.cpp bindings for Rust (originally: utilityai/llama-cpp-rs/infrastructure_llama_bindings)"
version = "0.0.1"
edition.workspace = true
rust-version.workspace = true
license.workspace = true
authors.workspace = true
repository.workspace = true
keywords.workspace = true

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
infrastructure_llama_bindings = { workspace = true }

enumflags2 = "0.7.12"
thiserror = { workspace = true }
tracing = { workspace = true }
tracing-core = { workspace = true }

[dev-dependencies]
encoding_rs = { workspace = true }
tracing-subscriber = { workspace = true }

[features]
sampler = []
default = ["openmp", "android-shared-stdcxx"]
mtmd = ["infrastructure_llama_bindings/mtmd"]
cuda = ["infrastructure_llama_bindings/cuda"]
metal = ["infrastructure_llama_bindings/metal"]
vulkan = ["infrastructure_llama_bindings/vulkan"]
openmp = ["infrastructure_llama_bindings/openmp"]
dynamic-link = ["infrastructure_llama_bindings/dynamic-link"]
cuda-no-vmm = ["cuda", "infrastructure_llama_bindings/cuda-no-vmm"]
# Only has an impact on Android.
android-shared-stdcxx = ["infrastructure_llama_bindings/shared-stdcxx"]
system-ggml = ["infrastructure_llama_bindings/system-ggml"]


[target.'cfg(all(target_os = "macos", any(target_arch = "aarch64", target_arch = "arm64")))'.dependencies]
infrastructure_llama_bindings = { workspace = true, features = [
    "metal",
] }

[lints]
workspace = true

[package.metadata.docs.rs]
features = ["sampler"]

# [[example]]
# name = "usage"
# path = "../examples/usage.rs"
