[env]
EWE_PLATFORM_DIR = { value = ".", relative = true, force = true }
ARTEFACTS_DIR = { value = "artefacts", relative=true, force = true }
BACKENDS_DIR = { value = "backends", relative=true, force = true }
INFRASTRUCTURE_DIR = { value = "infrastructure", relative=true, force = true }

# templates
TEMPLATES_DIR = { value = "templates", relative = true, force = true }

# build environment variables for infrastructure
TOOLS_DIR = { value = "tools", relative=true, force = true }
LLAMA_BINDINGS_DIR = { value = "infrastructure/llama-bindings", relative=true, force = true }
LLAMA_DIR = { value = "infrastructure/llama-bindings/llama.cpp", relative=true, force = true }
DAWN_DIR = { value = "tools/dawn", relative=true, force = true }
EMSDK_DIR = { value = "tools/emsdk", relative=true, force = true }

# [target.x86_64-unknown-linux-gnu]
# linker = "clang"
# rustflags = ["-C", "link-arg=-fuse-ld=/home/linuxbrew/.linuxbrew/bin/mold", "-Z", "macro-backtrace", ]

[target.'cfg(target_os = "linux")']
linker = "clang"
rustflags = ["-C", "link-arg=-fuse-ld=mold"]


[unstable]
codegen-backend = true

